html {
  font-size: 62.5%;
}

/* cài đặt biến  */
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

/* khôi phục lại chữ mặc định theo rem  */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  /* vì mặc định font-weight là 400px nên chúng ta bỏ qua ; */
}

/* ========================common========================= */
/* Đây là điều chỉnh đặc tính chung của trang */
a {
  /* loại bỏ các phần gạch dưới liên kết  */
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.btn {
  color: #fff;
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  padding: 0px 16px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  /* làm mờ đi nút bấm khi din chuột qua  */
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* ============================header============================ */
/* tác động vào class body là con của header  */
/* sao cần phải ghi tường minh: vì các body có thể lặp lại nhưng header chỉ có 1 */
.header .body {
  display: flex;
  /* 3 khối img, nav, và btn thành 1 khối và xoay ngang  */
  align-items: center;
  padding: 8px 0px 8px;
}

.nav {
  margin-left: auto;
}

/* tác động lên thẻ ul là con của nav  */
.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  position: relative;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0px 0px #000;
}

.nav li.active a::after {
  content: " ";
  left: 21px;
  bottom: 6px;
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 114px;
}

.header {
  background: #fffcf4;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: 0px;
}

.header .action {
  margin-left: 47px;
}

/* ================================hero=========================== */

.hero {
  padding: 56px 0px 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* hero left */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  /* không bị vỡ ảnh */
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

/* tác động sau thẻ item trước  */
.hero-summary .item + .item {
  margin-top: 2.2rem;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}

/* hero right */

.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: #ffb900;
}

.hero .watch-video {
  /* thẻ button là thẻ inline nên nó cùng hàng với thẻ a */
  display: flex;
  /* bỏ viền  */
  border: none;
  /* trong suốt */
  background: transparent;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .watch-video .icon:hover {
  opacity: 0.5;
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  margin-right: 13px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}

.hero .stats strong + strong {
  margin-left: 28px;
}

/* =========================== popular =================== */
.popular {
  padding: 65px 0px;
  margin-top: 135px;
}

.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.popular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.popular .course-item .thumb {
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
  width: 100%;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  border-radius: 12px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .info {
  padding: 16px 22px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .course-item .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.popular .course-item .foot {
  margin-top: 10px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .course-item .btn {
  border: none;
  width: 118px;
  line-height: 50px;
}

.popular .course-item .btn-book:hover {
  background-color: #ffb900;
}

/*===========================feedback====================== */
.feedback {
  margin-top: 135px;
  background-color: #2e2100;
  padding: 96px 0px;
}

.feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 72px;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.feedback-item .info .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}

.feedback-item .info .dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
  cursor: pointer;
}

.feedback-item .info .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}

/* ================================Features======================= */

.features {
  margin-top: 135px;
  padding: 65px 0px;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .body .image {
  display: flex;
  gap: 30px;
}

.features .image img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .under_img {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .content .desc {
  margin-top: 1.6rem;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.features .content .report {
  margin-top: 1.6rem;
}

.features .btn {
  width: 137px;
  height: 50px;
  border-radius: 2.6rem;
  background: var(--primary-color);
  margin-top: 3.2rem;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .image img {
  width: 470px;
  height: 440px;
  object-fit: cover;
}

/* =========================Blog=================== */
.blogs {
  margin-top: 135px;
  padding: 96px 0px;
  background: #fffcf4;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  margin: 1.6rem auto 0;
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.blogs .blog-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
  overflow: hidden;
}

.blogs .item {
  width: calc(33.33% - 20px);
  border-radius: 16px;
  background: #fff;
  flex-shrink: 0;
}

.blogs .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  width: 370px;
  height: 250px;
  object-fit: cover;
}

.blogs .item .info {
  padding: 20px 20px 28px;
}

.blogs .item .date {
  display: flex;
  position: relative;
  padding-bottom: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  align-items: center;
}

.blogs .item .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 5px;
}

.blogs .item .date::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blogs .item .title {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.blogs .item .btn {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blogs .item .btn:hover {
  background: #ffb900;
}

.blogs .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}

.blogs .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blogs .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}

/* ====================footer===================== */
footer {
  background: #2e2100;
  padding: 96px 135px 0;
}

.footer .row {
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
  display: flex;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  margin-top: 18px;
  line-height: 1.86; /* 185.714% */
  width: 267px;
}

.footer .socials {
  display: flex;
  gap: 18px;
}

.footer .title {
  padding-bottom: 14px;
  padding-right: 18px;
  display: inline-block;
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer .list {
  margin-top: 28px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
}

.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
